{% extends "panel/base.html" %}

{% block content %}

<link href='./static/css/panel.css' rel='stylesheet' type='text/css'>


{% for category,message in get_flashed_messages(with_categories=True)%}
<br><br>
<div class="container" style="color:#ffffff">
  <div class="alert {{ category }} mx-auto" role="alert" style="max-width:30rem">
    <h5 class="alert-heading" style="font-family: Roboto;"><b>{{ message }}</b></h5>
  </div>
</div>
{% endfor %}


{% endblock %}
