{% extends 'panel/base.html' %}

{% block content %}


  <div class="container text-center">
    <div class="col-lg-12 text-center" style="color: #ffffff;">
      <h1 class="mt-5">SESSIONS</h1>
    </div>
    <input class="form-control" id="myInput" type="text" placeholder="Search..">
    <br>
    {% if datas %}
      <table class="table table-bordered table-striped" style="color: black">
        <br>
        <thead>
          <th>ChatId</th>
          <th>Name</th>
          <th>DateJoined</th>
        </thead>
        <tbody>
          {% for data in datas %}
          <tr>
            <td>{{ data['chatid'] }}</td>
            <td>None</td>
            <td>{{ data['timestamp'] }}</td>
          </tr>
          {% endfor %}
        </tbody>
        {% else %}
          <h1>There is no member to show</h1>
      {% endif %}



  </div>

{% endblock %}
