{% extends "panel/base.html" %}

{% block content %}
<section id="actions" class="py-4 mb-4 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a href="#" class="btn btn-warning btn-block" data-toggle="modal" data-target="#FindUser">
          <i class="fas fa-search"></i> Find User
        </a>
      </div>
      <div class="modal fade" id="FindUser" tabindex="-1" role="dialog" aria-labelledby="FindUser" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Find User</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="./find">
                <div class="form-group" >
                  <input type="text" name="chatid" class="form-control mx-auto" placeholder="Enter chatid">
                </div>
                <button type="submit" class="btn btn-block btn-pill btn-outline-primary mx-auto" style="max-width:10rem;border-radius: 20px;">FIND</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <a href="#" class="btn btn-success btn-block" data-toggle="modal" data-target="#SendMessage">
          <i class="fas fa-paper-plane"></i> Send Message
        </a>
      </div>
      <div class="modal fade" id="SendMessage" tabindex="-1" role="dialog" aria-labelledby="SendMessage" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Send Message</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="./sendmessage" method="POST">
                <div class="form-group" >
                  <textarea type="text" name="text" class="form-control mx-auto" rows="3" placeholder="Enter message to send"></textarea>
                </div>
                <select class="form-control form-control-sm" name="option">
                  <option value="allmembers">All members</option>
                  <option value="verified">Only verified members</option>
                  <option value="nonverified">Nonverified members</option>
                </select>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-block btn-pill btn-outline-success mx-auto" style="max-width:10rem;border-radius: 20px;">Send</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="posts">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="card">
          <div class="card-header">
            <h4>Latest Users</h4>
          </div>
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th>#</th>
                <th>Chatid</th>
                <th>Stunum</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
                {% set count = 1 %}
                {% for det in details %}
                <tr>
                  <td>{{ loop.index }}</td>
                  <td>{{ det['chatid'] }}</td>
                  <td>{{ det['student_number']}}</td>
                  <td>
                    <button type="button" class="btn btn-secondary fas" data-toggle="modal" data-target="#modal{{ det['chatid']|int }}">
                        <i class="fas fa-angle-double-right"></i> Details
                    </button>
                    <div class="modal" id="modal{{ det['chatid']|int }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="color:black;">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{{ det['chatid']|int }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body mx-auto text-center">
                              <p1 style="color:green">{{ det['student_number'] }}</p1>
                              <br><br>
                              <button class="btn btn-outline-warning" onclick="copy('div{{ det['chatid']|int }}')">Copy session</button>
                              <div id="div{{ det['chatid']|int }}" style="display: none;">
                                {{ det['session'] }}
                              </div>
                            </div>
                          <div class="modal-footer mx-auto">
                            <a href="./removesession/{{ det['chatid']|int }}">
                              <button type="button" class="btn btn-outline-danger" >Remove session</button>
                            </a>
                            <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                {% else %}
                <p1>No session found</p1>
              {% endfor %}
          </table>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card text-center bg-warning text-white mb-3">
          <div class="card-body">
            <h3>Members</h3>
            <h4 class="display-4">
              <i class="fas fa-user"></i> {{ totalusers }}
            </h4>
          </div>
        </div>

        <div class="card text-center bg-success text-white mb-3">
          <div class="card-body">
            <h3>Session</h3>
            <h4 class="display-4">
              <i class="fas fa-users"></i> {{ totalsessions }}
            </h4>
          </div>
        </div>

        <div class="card text-center bg-primary text-white mb-3">
          <div class="card-body">
            <h3>Ratio</h3>
            <h4 class="display-4">
              <i class="fas fa-clock"></i> {{ ratio }}
            </h4>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="./static/js/sessions.js"></script>


{% endblock %}
