{% extends "panel/base.html" %}

{% block content %}



<div class="container text-center">
  <div class="row">
    <div class="col-lg-12 text-center" style="color: #ffffff;">
      <h1 class="mt-5">SESSIONS</h1>
    </div>
  </div>
  {% if details %}
  <input class="form-control" id="myInput" type="text" placeholder="Search..">
  <br>
    <table class="table table-bordered table-striped" style="color: black">
      <thead>
        <tr>
          <th>Chatid</th>
          <th>StuNum</th>
          <th>Session</th>
        </tr>
      </thead>
      <tbody id="myTable">
        {% for det in details %}
        <tr>
          <td>{{ det['chatid']|int }}</td>
          <td>{{ det['student_number']|int }}</td>
          <td>
            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#modal{{ det['chatid']|int }}" style="border-radius: 10rem;">
            INFO</button>

            <!-- Modal -->
            <div class="modal" id="modal{{ det['chatid']|int }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="color:black;">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ det['chatid'] }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                      <p1 style="color:green">{{ det['student_number'] }}</p1>
                      <div id="div{{ det['chatid']|int }}" style="display: none;">
                        {{ det['session'] }}
                      </div>
                      <br><br>
                      <button class="btn btn-outline-warning" onclick="copy('div{{ det['chatid']|int }}')">Copy session</button>
                    </div>
                  <div class="modal-footer mx-auto">
                    <a href="./removesession/{{ det['chatid']|int }}">
                      <button type="button" class="btn btn-outline-danger" >Remove session</button>
                    </a>
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        {% else %}
          <h1 style="color:red">No session found</h1>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
    {% for category,message in get_flashed_messages(with_categories=true) %}
      <div class="alert {{ category }} mx-auto" style="max-width: 40rem;" role="alert">
        {{ message }}
      </div>
    {% endfor %}
  </div>



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="./static/js/sessions.js"></script>

{% endblock %}
