<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>.:Admin:.</title>
  <link rel="stylesheet" href="./static/css/style.css">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">

</head>
<body>
{% block content %}{% endblock %}
</body>
</html>
