{% extends "login/base.html" %}

{% block content %}

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="./static/js/login.js"></script>
<div class="login-page">
  <div class="form" style="">
    <form class="login-form" method="POST">
      {% for message in get_flashed_messages() %}
        <p style="color:red">{{ message }}</p>
        <br>
      {% endfor %}
      {{ form.hidden_tag() }}
      <input type="text" style="border-radius: 10px;" placeholder="username" name="username"/ required>
      <input type="password" style="border-radius: 10px;" placeholder="password" name="password"/ required>
      <script src='https://www.google.com/recaptcha/api.js'></script>
      <div class="g-recaptcha" style="transform:scale(0.9);transform-origin:0 0;" data-sitekey="6LfP9sMZAAAAAF-4LVKBNgPCLWKoUidySaepCh9g"></div><br>

      <button style="border-radius: 5px">login</button>
    </form>
  </div>
</div>

{% endblock %}
